<div class="dummy-phone">
    <div class="screen-shot">
      <div class="carousel carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "phone_screen1.jpg", height: '427', width: '240' %>
            </div>
            <div class="carousel-item"><%= image_tag "phone_screen2.jpg", height: '427', width: '240' %></div>
            <div class="carousel-item"><%= image_tag "phone_screen3.jpg", height: '427', width: '240' %></div>
            <div class="carousel-item"><%= image_tag "phone_screen4.jpg", height: '427', width: '240' %></div>
            <div class="carousel-item"><%= image_tag "phone_screen5.jpg", height: '427', width: '240' %></div>
          </div>
      </div>
    </div>
</div>